.container {
    width: 600px;
    height: 800px;
    background: #ffc000;
    display: inline-block;
    -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    text-align: center;
    position: relative;
    z-index: 1;

}

#gameTimer {
    margin-top: 550px;
    right: 100px;
    text-align: left;
    position: absolute;
    z-index: 3;
    color: #35cc04;
    font-family: 'VT323', monospace;
    font-size: 14pt;
}

#level {
    margin-top: 285px;
    right: 100px;
    text-align: left;
    position: absolute;
    z-index: 3;
    color: #35cc04;
    font-family: 'VT323', monospace;
    font-size: 16pt;
}

.square {
    height: 310px;
    width: 440px;
    background-color: rgba(40,40,40,0.77);
    position: relative;
    margin-top: 270px;
    margin-left: 10px;
    border: 5px solid black;
    border-radius: 25px;
    display: inline-block;
    z-index: 2;
}

img {
    width: 100px;
    height: 100px;
    margin-right: 40px;
    bottom: 245px;
    position: relative;
    animation: nudge 2s linear infinite alternate;
    z-index: 3;

}

@keyframes nudge {
    100% {
      transform: translateX(-30%) translateX(70%);
      top: 50%;
    }
}

#hunger {
    margin-top: 290px;
    left: 100px;
    text-align: left;
    position: absolute;
    z-index: 3;
    color: #35cc04;
    font-family: 'VT323', monospace;
    font-size: 15pt;
}

#sleepiness{
    margin-top: 330px;
    left: 100px;
    text-align: left;
    position: absolute;
    z-index: 3;
    color: #35cc04;
    font-family: 'VT323', monospace;
    font-size: 15pt;
}

#boredom {
    margin-top: 310px;
    left: 100px;
    text-align: left;
    position: absolute;
    z-index: 3;
    color: #35cc04;
    font-family: 'VT323', monospace;
    font-size: 15pt;
}

button {
    height: 55px;
    width: 55px;
    /* position: relative; */
    border-radius: 100%;
    z-index: 2;
    background: rgba(0,0,255,0.8);
    font-family: 'VT323', monospace;
    font-size: 13pt;
    color: #35cc04;
}

#feed {
    position: absolute;
    left: 100px;
    bottom: 135px;
    font-weight: bold;
    
}

#play {
    position: absolute;
    left: 170px;
    bottom: 100px;
    font-weight: bold;
}

#lights {
    position: absolute;
    left: 245px;
    bottom: 70px;
    font-weight: bold;
}


#start {
    height: 65px;
    width: 65px;
    position: absolute;
    right: 100px;
    bottom: 125px;
    background: red;
    font-weight: bold;
    text-transform: uppercase;
}

