html {
    background-color: rgb(255,0,255)
}
.container {
    width: 600px;
    height: 800px;
    background: #ffc000;
    display: inline-block;
    -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    text-align: center;
    position: relative;
    z-index: 1;
    border: 5px solid #ffc000;
}

#gameTimer {
    margin-top: 565px;
    right: 100px;
    text-align: left;
    position: absolute;
    z-index: 4;
    color: #35cc04;
    font-family: 'VT323', monospace;
    font-size: 14pt;
}

#level {
    margin-top: 287px;
    right: 100px;
    text-align: left;
    position: absolute;
    z-index: 3;
    color: #35cc04;
    font-family: 'VT323', monospace;
    font-size: 16pt;
}

.square {
    height: 310px;
    width: 440px;
    background-color: rgba(40,40,40,0.77);
    position: relative;
    margin-top: 270px;
    margin-left: 10px;
    border: 10px dashed blue;
    box-shadow: 8px 8px 5px grey;
    border-radius: 25px;
    display: inline-block;
    z-index: 2;
}

#rick1 {
    width: 100px;
    height: 100px;
    margin-right: 40px;
    bottom: 245px;
    position: relative;
    opacity: 0.9;
    animation: nudge 2s linear infinite alternate;
    z-index: 3;
}
#rick2 {
    width: 170px;
    height: 170px;
    margin-right: 40px;
    bottom: 245px;
    position: relative;
    opacity: 0.9;
    animation: nudge 2s linear infinite alternate;
    z-index: 3;

}
#rick3 {
    width: 250px;
    height: 250px;
    margin-right: 40px;
    margin-top: -50px;
    bottom: 245px;
    position: relative;
    opacity: 0.9;
    animation: nudge 2s linear infinite alternate;
    z-index: 3;
}

#deadrick {
    width: 170px;
    height: 170px;
    margin-right: 40px;
    bottom: 245px;
    position: relative;
    opacity: 0.9;
    z-index: 3;
}

@keyframes nudge {
    100% {
      transform: translateX(-30%) translateX(70%);
      top: 50%;
    }
}

#name {
    margin-top: 565px;
    left: 100px;
    text-align: right;
    position: absolute;
    z-index: 3;
    color: #35cc04;
    font-family: 'VT323', monospace;
    font-size: 15pt;
}

#hunger {
    margin-top: 290px;
    left: 100px;
    text-align: left;
    position: absolute;
    z-index: 3;
    color: #35cc04;
    font-family: 'VT323', monospace;
    font-size: 15pt;
}

#sleepiness{
    margin-top: 330px;
    left: 100px;
    text-align: left;
    position: absolute;
    z-index: 3;
    color: #35cc04;
    font-family: 'VT323', monospace;
    font-size: 15pt;
}

#boredom {
    margin-top: 310px;
    left: 100px;
    text-align: left;
    position: absolute;
    z-index: 3;
    color: #35cc04;
    font-family: 'VT323', monospace;
    font-size: 15pt;
}

button {
    height: 55px;
    width: 55px;
    /* position: relative; */
    border-radius: 100%;
    z-index: 2;
    background: rgba(0,0,255,0.8);
    font-family: 'VT323', monospace;
    font-size: 13pt;
    color: #35cc04;
    box-shadow: 5px 5px 5px grey;
}

#feed {
    position: absolute;
    left: 100px;
    bottom: 135px;
    font-weight: bold;
    border: 3px solid blue;
    
}

#play {
    position: absolute;
    left: 170px;
    bottom: 100px;
    font-weight: bold;
    border: 3px solid blue;
}

#lights {
    position: absolute;
    left: 243px;
    bottom: 70px;
    font-weight: bold;
    border: 3px solid blue;
}


#start {
    height: 65px;
    width: 65px;
    position: absolute;
    right: 100px;
    bottom: 125px;
    background: red;
    font-weight: bold;
    text-transform: uppercase;
    border: 4px solid red;
}

#feed:hover {
    text-transform: uppercase;
    color: #fff;
}

#play:hover {
    text-transform: uppercase;
    color: #fff;
}

#lights:hover {
    text-transform: uppercase;
    color: #fff;
}

#start:hover {
    font-size: 18pt;
    color: #fff;
}

#feed:active {
    font-size: 20pt;
    background: #1E90FF;
}

#play:active {
    font-size: 20pt;
    background: #1E90FF;
}

#lights:active {
    font-size: 20pt;
    background: #1E90FF;
}

#start:active {
    font-size: 23pt;
    background: #DC143C;
}

.buttons button:focus {
    outline: none;
}

